body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
  color: rgb(148, 7, 7);
  text-align: center;
}
input, button {
  font-family: inherit;
}

.root-container{
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 180px;
  margin: 5px;
}

.root-container:hover{
  background-color: hsla(0, 0%, 0%, 0.041);
  transition: 0.5s ease-in-out;
}

.conjugate-button{
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  border-radius: 14px;
  border: 1px solid rgb(121, 16, 16);
  cursor: pointer;
}

.conjugate-button:hover {
  transition: ease-in-out 0.1s; 
  box-shadow: 0 6px 16px rgba(121, 16, 16, 0.3); 
}

.container{
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}

.conjugation-column{
  list-style-type: none;
}

.conjugation-column + .conjugation-column{
  border-left: 2px solid rgba(121, 16, 16, 0.2);
  padding-left: 40px;
}

h3{
  font-size: 20px;
}

